# 🔗 Google Sheets Configuration
# =============================
# رابط الشيت الكامل (انسخه من زر المشاركة)
GOOGLE_SHEET_URL=https:https://docs.google.com/spreadsheets/d/1uSTqotcmjLERAIHXNwFxHzCK8DOqQ0hJzkdSosE4hqE/edit?usp=sharing

# بيانات Service Account
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n
