name: Wahab Final Execution
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run_mission:
    runs-on: ubuntu-latest
    steps:
      - name: Code Pull
        uses: actions/checkout@v4

      - name: Node Setup
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Arsenal Setup
        run: |
          npm install playwright-extra puppeteer-extra-plugin-stealth playwright
          npx playwright install --with-deps chromium

      - name: Execute
        run: node index.js
        env:
          SHEET_URL: ${{ secrets.SHEET_URL }}

      - name: Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Results
          path: |
            evidences/
            *.png
